.principais__destinos{
    font-family: 'Montserrat';
}

.texto-destinos{
    font-size: 2.5rem;
    padding: 2.063rem;
    margin-left: 7rem;
}

.caixa{
    display: flex;
    justify-content: left;   
    overflow-x: auto;
    padding: 2rem 0;
   }

.caixa li{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-left: 1.875rem;
    box-shadow: 0rem 0rem 0.5rem 0rem rgb(0 0 0 / 16%);
    border-radius: 1rem; 
    padding-bottom: 1.563rem;
   }

.caixa img, .current-item{
    width: 16.875rem;
    height: 21.25rem;
    object-fit: cover;
    border-radius: 1rem 1rem 0rem 0rem; 
    margin-bottom: 1.25rem;
    transition: all 0.2s ease-out;    
   }

.caixa li:hover{ 
    transform: scale(1.1);
    border-radius: 1rem; 
    cursor: pointer;
   }


.subtitulo-destinos{
    font-size: 1.375rem;
    margin-bottom: 8%;
}   

.ida-volta-text, h5{
    position: relative;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 0.75rem ;
    margin-bottom: 0.5rem ;
    align-items: center;  
  
} 

.caixa h5{
    font-size: 0.75rem;
    color: #333;
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
    padding: 0.625rem;
}

.caixa h4{
    font-size: 1.313rem;
    margin-top: 1.125rem;
}

.caixa::-webkit-scrollbar{
    display: none;
}

.container {
    position: relative;
}

.arrow-left{
    position: absolute;
    border-radius: 0.625rem;
    height: 2.5rem;
    width: 2.5rem;
    background: #fff center no-repeat ;
    box-shadow: 0rem 0rem 1.5rem rgb(0 0 0 / 10%);
    border-color: #ffffff00;
    right: -0.875rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999;
}

.arrow-right{
    position: absolute;
    border-radius: 0.625rem;
    height: 2.5rem;
    width: 2.5rem;
    background: #fff center no-repeat ;
    box-shadow: 0rem 0rem 1.5rem rgb(0 0 0 / 10%);
    border-color: #ffffff00;
    left: 0;
    top: 50%;
    z-index: 9999;
    transform: translateY(-50%);
}

.arrow-right:hover , .arrow-left:hover{
    cursor: pointer;
}

