header{
    background: #DDDDDD;
}

h1{
    font-family: 'Montserrat';
    position: relative; 
    bottom: 1.438rem; 
    left: 7rem; 
    top: 2.5rem;  
}

h2{
    font-family: 'Montserrat' ;
}

nav h2:hover {
	color: #2020C0;
    font-weight: bold;
    text-decoration: underline;
}


.logo{
    height: 4rem;
    position: relative; 
    bottom:0.438rem; 
    left: 1.875rem; 
    right: 0.188rem; 
}

#botao_orcamento {
    position: relative; 
    left: 70rem ; 
    bottom:  3.563rem ;
}