header{
    background: #DDDDDD;
    height: 4rem;
    font-family: 'Montserrat' ;
}

.menu__reto{
    display: inline-flex;
    position: relative;
    top: 1.075rem;
}

.menu__reto h1{
    position: relative;
    left: 2rem;
}

nav h2, a{
    color: black;
    text-decoration: none;
}

nav h2:hover {
	color: #2020C0;
    font-weight: bold;
    text-decoration: underline;
}


.logo{
    width: 3rem;
    height: 3rem;
    position: relative; 
    bottom:0.438rem; 
    left: 1.875rem; 
    right: 0.188rem; 
}

#botao{
    display: inline-flex;
    position: relative;
    left: 45rem;
    top: 0.625rem;
    margin-left: 2rem;
}

